body {
    font-family: Arial, sans-serif;
    background-image: url(khanda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    padding: 20px;
    border: 1px solid #e20a0a;
    background-color: rgb(220, 137, 11);
    border-radius: 5px;
    text-align: center;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #114173;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
